*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto sans", sans-serif;
    outline: none;
}
html{
    font-size: 62.5%;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: #1e222e;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    width: 40rem;
    height: 60rem;
    background-color: #2e2f30;
    padding: 3rem 2rem;
    border-radius: 2rem;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 

}
.screen{
    width: 34rem;
    height: 8rem;
    background-color: #8d8d8d;
    margin-bottom: 1.5rem;
    border-radius: 10px;
    border: none;
    pointer-events: none;
    text-align: right;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    color: #eee;
}
.btn, .equal{
    width: 7rem;
    height: 7rem;
    margin: 1rem;
    font-size: 2rem;
    color: #fff;
    border: none;
    background:linear-gradient(180deg, #2f2f2f, #3f3f3f);
    box-shadow: -0.5rem -0.5rem 1.5rem rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    cursor: pointer;
    position: relative;   
}

.clear {
  width: 25rem;
  background: #d62929;
}

.equal {
  background: #37925a;
}

.btn:active,
.equal:active {
  filter: brightness(1.5);
}